<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link type="text/css" rel="stylesheet" href="/assets/css/styles.css" />
		<title></title>
	</head>
	<body>
		<div id="notauthed">
			<h1>Sorry, but you're not allowed to edit this page :(</h1>
		</div>
		<div id="authed">
			<h1>Yay times!</h1>
		</div>
		<div id="loader"></div>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script src="/assets/js/jquery.js"></script>
		<script>
		<!--
			var r = {{ r }};
			var v = getVars();
			var id;
			
			function getVars()
			{
				var u	= window.location.href.split( '?' );
				var vs	= { }

				if ( u[ 1 ] )
				{
					u	= u[ 1 ].split( '&' );

					$.each( u, function()
					{
						var v			= this.split( '=' );

						vs[ v[ 0 ] ]	= v[ 1 ];
					});
					
					return vs;
				}
			}
			
			function ready()
			{
				$( '#notauthed, #authed' ).hide();
				
				FB.getLoginStatus( function(r)
				{
					if ( r.session )
					{
						FB.api( '/me/accounts', function(r)
						{
							for ( i = 0; i < r.data.length; i++ )
							{
								if ( r.data[ i ].id == v[ 'fb_page_id' ] )
								{
									id	= r.data[ i ].id;
									
									break;
								}
							}
							
							if ( !id )
							{
								$( '#notauthed' ).show();
								
								$( '#authed' ).hide();
							}
							else
							{
								$( '#authed' ).show();
								
								$( '#notauthed' ).hide();
							}
						});
					}
					else
					{
						top.location.href = 'https://www.facebook.com/dialog/oauth?client_id={{ d.fb.app_id }}' +
											'&redirect_uri=' + escape( '{{ d.fb.app_url }}' + v[ 'fb_page_id' ] ) + 
											'&scope=email,manage_pages';
					}
				});
			}
			
			FB.init({
				appId	: '{{ d.fb.app_id }}',
				status	: true,
				cookie	: true
			});
			
			$( document ).ready( ready );
		-->
		</script>
	</body>
</html>