<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link type="text/css" rel="stylesheet" href="/assets/css/styles.css" />
		<style>
		<!--
			body
			{
				background: url({{ d.bg_url }}) no-repeat;
			}
		-->
		</style>
		{% if d.css %}
			<style>
			<!--
				{{ d.css }}
			-->
			</style>
		{% endif %}
		<title>Gig List</title>
	</head>
	<body>
		<div id="next_gig_heading">
			<h1>{{ d.text_next }}</h1>
		</div>
		<div id="next_gig_info">
			<h2>{{ ne.name }}</h2>
			<ul>
				<li>
					<span>{{ d.text_time }}</span> {{ ne.start_time }}
				</li>
				<li>
					<span>{{ d.text_addr }}</span> {{ ne.location }}
				</li>
			</ul>
		</div>
		<div id="more_gigs_heading">
			<h1>{{ d.text_more }}</h1>
		</div>
		<div id="more_gigs_events">
			{% for ev in es %}
				<h2>{{ ev.name }}</h2>
				<ul>
					<li>
						<span>{{ d.text_time }}</span> {{ ev.start_time }}
					</li>
					<li>
						<span>{{ d.text_addr }}</span> {{ ev.location }}
					</li>
				</ul>
			{% endfor %}
		</div>
		<script>
		<!--
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-352545-20']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
		-->
		</script>
	</body>
</html>